#logopic {
    min-width: 40pt;
    min-height: 40pt;
}
    
#bar {
    color: #424242;
    min-height: 15px;
    min-width: 1280px;
    background: #424242;
}
    
#container {
    display: grid;
    margin-top: 102px;
    margin-bottom: 97px;
    margin-left: 240px;
    margin-right: 240px;
    grid-gap: 30px;
    max-width: 798px;
    max-height: 821px;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a a"
    "b b"
    "c d"
}
        
h1 {
    font-size: 56pt;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #424242;
}
        
h2 {
    font-size: 32pt;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    font-family: sans-serif;
    font-size: 18pt;
}
        
pre {
    font-family: serif;
    color: white;
    font-size: 18pt;
}
        
.a {
    grid-area: a;
    color: red;
    border-radius: 20px;
    min-height: 40px;
    min-width: 800px;
}
        
.b {
    grid-area: b;
    border-radius: 20px;
    min-height: 227px;
    min-width: 800px;
}
        
.c {
    grid-area: c;
    background: #E9EAEC;
    border-radius: 20px;
    min-height: 307px;
    min-width: 320px;
    padding: 33px 32px;
}
             
.d {
    grid-area: d;
    background: #E9EAEC;
    background: linear-gradient(
        #E9EAEC 10%,
        #424242 10%
    );
    border-radius: 20px;
    min-height: 307px;
    min-width: 320px;
    padding: 33px 32px;
}
        
